﻿body {
}

ul {
    margin: 30px auto;
    padding: 0 20px;
    text-align: center;
}

body {
    background-color: #FFF;
    margin: 0 auto;
}

header {
    background-color: #466995;
    border-bottom: 1px solid #466995;
    position: fixed;
    width: 80%;
    z-index: 10;
    justify-content: center;
}

ul {
    margin: 30px auto;
    padding: 0 20px;
    text-align: center;
}

li {
    color: #FFF;
    font-family: 'Oswald', sans-serif;
    font-size: 16px;
    font-weight: 300;
    text-transform: uppercase;
    display: inline-block;
    width: 80px;
    align-items: baseline;
}


ul.TTLH li {
    display: inline-block;
    margin: 10px;
}

.TheLoai {
    display: flex;
    flex-wrap: wrap;
    margin: 10px;
}

button {
    margin: 10px;
}

header .TTLH button:nth-child(4) {
    background-color: red;
    color: white;
}

.trump {
    margin-left: 10px;
    width: 33%;
}

h2 {
    color: red;
}

p {
    font-weight: 200;
}

header .VNP {
    width: 80%;
}
