﻿
@{
    ViewBag.Title = "Index";

    ViewBag.Message = "Hello world!";


}


<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    <link rel="stylesheet" href="~/Content/css/myCss.css">
</head>
<body>
    <header>
        <ul class="TTLH">
            <li>090909xxxx</li>
            <li>090909xxxx</li>
            <li>Liên hệ Quảng cáo</li>
            <li>  <button class="like">like </button> </li>
            <li>  <button class="follow">Follow</button> </li>
            <li> <button class="youtube">Youtube</button></li>

            <li>
                <button>
                    LogIn
                </button>
            </li>
            <li>
                <button>
                    Sub
                </button>
            </li>
            <li>
                <form>
                    <input type="text" placeholder="Search" />
                </form>
            </li>
        </ul>
    </header>
    <div class="VNP">
        <img src="~/Content/Images/Logo_Vnexpress.png" width="350" height="200">
        <img src="~/Content/Images/banner-ads-1.png" width="350" height="200">
        <img src="~/Content/Images/banner-ads-2.png" width="350" height="400">
    </div>

    <div class="TheLoai">
        <i class="fa-regular fa-house"></i>
        <button>Thời sự</button>
        <button>Thế giới</button>
        <button>Kinh Doanh</button>
        <button>Giải trí</button>
        <button>Thể thao</button>
        <button>Pháp luật</button>
        <button>Giaos dục</button>
        <button>Sức khỏe</button>
        <button>Gia đình</button>
        <button>Du lịch</button>
        <button>Khoa học</button>
        <button>Số hía</button>
        <button>Xe</button>
        <button>Cộng đồng</button>
        <button>Tâm sự</button>
        <button>Video</button>
        <button>Cười</button>
        <button>Rao vặt</button>
    </div>
    <div class="trump">
        
        <h2 style="color: red">Trang chủ</h2>
        <img src="~/Content/Images/thumnails.png">
        <p style="color:red; font-weight:200">Trump và Clinton đối đầu nảy lửa trong tranh luận trực tiếp đầu tiên</p>

        <p> Hai ứng viên chạy đua chức tổng thống Mỹ Clinton và Trump tranh cãi nãy lửa trong hàng loạt vấn đề từ nhà đất, thương mại, đến cuộc chiến chống khủng bố...</p>

        <p>Túi tiền tranh của bà Clintob nặng gấp đôi tỷ phú Trump</p>
    </div>
    <div class="TiengAnh">
        <button>English</button>
        <p>Đài loan đóng cửa trường học vì bão Megi</p>
        <p>Những đứa trẻ ssongos vắt vẻo trên dầm cầu đã có chốn dung thân</p>
        <p>Tại sao các đôi hoàn hảo vẫn li dị</p>
        <p>Ssanggyong Kornado-crossover giá 1 tỷ tại VN</p>
        <p>Lỗ hỏng IOS 10 giúp hacker giải mã bản sao lưu dễ dàng</p>
    </div>
    <div class="Thời gian">

    </div>
</body>
</html>


